---
import Button from "../components/Button.astro";
import TextMarquee from "../components/Marqueee";
import Header from "../components/navBar/Header";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import florDreta from "../../public/images/florDreta.svg";
import florEsquerra from "../../public/images/florEsquerra.svg";
import Products from "../components/hero/Products.astro";
import TextMarqueeSolitaire from "../components/MarqueeeSolitaire";
import { getProducts } from "../hooks/getProducts";
import Product from "../components/product/Product.astro";

const { products, error } = await getProducts();
---

<Layout>
    <Header client:only="react" />

    <!-- Hero section -->
    <section id="hero" class="flex flex-col items-center lg:w-[75%] w-full">
        <h1
            class="text-clara-text-blue font-bold text-center text-2xl sm:text-4xl md:text-5xl lg:text-6xl pt-10"
        >
            El passatemps de la Clara,<br /> a les teves mans
        </h1>

        <Button
            text="Fes-hi un cop d'ull"
            className=" lg:mt-10 md:mt-6 sm:mt-10 mt-5 mb-4 md:mb-5 lg:mb-0"
            href="products"
        />
        <Products products={products} error={error} />
    </section>
    <!-- Marquee section movement text -->
    <div
        class="lg:my-28 md:my-8 my-6 w-screen flex flex-col justify-center items-center"
    >
        <TextMarquee
            client:only="react"
            text="+23 clientes contentes ,🏔️ Produit artesanalment a Puigcerdà , 📦Enviament a domicili ,📦 Gratuït partir de 50€"
            backgroundColor="#96CADE"
            rotate={true}
        />
        <TextMarquee
            client:only="react"
            text="📦 Enviament a domicili ,📦 Gratuït partir de 50€, +23 clientes contentes ,🏔️ Produit artesanalment a Puigcerdà  "
            speed={100}
            backgroundColor="#F6BDFD"
            fontColor="white"
            direction="right"
        />
    </div>

    <section class="relative bg-clara-yellow w-full">
        <Image
            src={florEsquerra}
            alt="Flor Adalt"
            width="100"
            height="100"
            class="absolute top-0 left-0"
        />
        <Image
            src={florDreta}
            alt="Flor Abaix"
            width="100"
            height="100"
            class="absolute bottom-0 right-0 z-20"
        />

        <div
            class="container md:px-0 mx-auto px-2 py-11 grid grid-cols-1 md:grid-cols-2 justify-items-center items-center"
        >
            <div
                class="md:p-14 p-9 flex flex-col md:gap-9 gap-6 text-clara-text-blue items-start"
            >
                <h1 class="md:text-4xl text-2xl font-bold z-10">
                    Peces de ganxet <br /> fetes a mà.
                </h1>
                <p>
                    In a quaint little town, where the sun kissed the rooftops
                    and the breeze carried whispers of adventure, there lived a
                    curious cat named Whiskers. Every day, Whiskers would
                    explore the vibrant gardens filled with blooming flowers and
                    fluttering butterflies.
                </p>
                <Button text="Contacta amb nosaltres" className="" />
            </div>
            <div
                class="flex items-center justify-center w-[80%] h-[350px] bg-white rounded-3xl"
            >
            </div>
        </div>
    </section>

    <div
        class="lg:my-28 md:my-8 my-6 w-screen flex flex-col justify-center items-center"
    >
        <TextMarqueeSolitaire
            client:only="react"
            text="📌 Producte de proximitat  "
            speed={90}
            fontColor="white"
            direction="right"
        />
        <Product products={products} error={error} />
    </div>
</Layout>
